/* Dark mode: */
body {
    background-color: black;
    color: white;
}
button {
    background-color: #0F0F0F;
    color: white;
    border-color: gray;
}
input {
    background-color: #0F0F0F;
    color: white;
    border-color: gray;
}

/* Light mode: */
/*body {
    background-color: white;
    color: black;
}
button {
    background-color: #F0F0F0;
    color: black;
    border-color: gray;
}
input {
    background-color: #F0F0F0;
    color: black;
    border-color: gray;
}*/

/* Fire mode: */
/*body {
    background-color: red;
    color: black;
}
button {
    background-color: #F02F2F;
    color: black;
    border-color: #7F0000;
}
input {
    background-color: #F02F2F;
    color: black;
    border-color: #7F0000;
}*/

/* Water mode: */
/*body {
    background-color: blue;
    color: black;
}
button {
    background-color: #2F2FF0;
    color: black;
    border-color: #00007F;
}
input {
    background-color: #2F2FF0;
    color: black;
    border-color: #00007F;
}*/

/* Grass mode: */
/*body {
    background-color: green;
    color: black;
}
button {
    background-color: #2FF02F;
    color: black;
    border-color: #007F00;
}
input {
    background-color: #2FF02F;
    color: black;
    border-color: #007F00;
}*/

.image_big {
    width: 200px;
}
.image_small {
    width: 120px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 14px;
}
